<div class="container">
    <form [formGroup]="filterForm" (ngSubmit)="search()"
        class="d-flex flex-column align-items-center justify-content-center">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="standard" color="primary" class="w-100">
                    <mat-label>Email</mat-label>
                    <input
                        matInput
                        formControlName="email"
                        autocomplete="false"
                        placeholder="Ex.: user@domain.com"
                        type="email" />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Período</mat-label>
                    <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
                      <input
                        matStartDate
                        formControlName="start"
                        placeholder="Data inicial" />
                      <input
                        matEndDate
                        formControlName="end"
                        placeholder="Data final" />
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker (closed)="search()" #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="col d-flex align-items-center">
                <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="!filterForm.controls['email'].value && !filterForm.controls['start'].value">Buscar</button>
            </div>
        </div>
    
        <div *ngIf="data.length" class="row my-2">
            <div class="col p-0">
                <mat-slide-toggle
                    color="primary"
                    formControlName="agrupar_creditos">Agrupar créditos</mat-slide-toggle>
            </div>
        </div>
    
        <mat-divider class="w-100 my-4"></mat-divider>
    
        <div class="row">
            <div class="col" *ngIf="filterForm.controls['nome'].value">
                <mat-form-field appearance="standard" color="primary" class="w-100">
                    <mat-label>Nome</mat-label>
                    <input
                        matInput
                        formControlName="nome"
                        type="text" readonly />
                </mat-form-field>
            </div>
            <div class="col" *ngIf="filterForm.controls['nome'].value">
                <mat-form-field appearance="standard" color="primary" class="w-100">
                    <mat-label>Créditos</mat-label>
                    <input
                        matInput
                        formControlName="creditos"
                        type="number" readonly />
                </mat-form-field>
            </div>
            <div class="col" *ngIf="getTotalCredits() > 0 || filterForm.controls['nome'].value">
                <mat-form-field appearance="standard" color="primary" class="w-100">
                    <mat-label>Créditos utilizados</mat-label>
                    <input
                    matInput
                    value="{{ getTotalCredits() }}"
                    type="number" readonly />
                </mat-form-field>
            </div>
        </div>
    </form>
    
    
    <div class="mat-elevation-z8 my-2 position-relative">
        <div *ngIf="isLoading"
            class="d-flex justify-content-center align-items-center position-absolute w-100 h-100"
            style="background-color: #42424299; z-index: 1;">
            <custom-load></custom-load>
        </div>
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="ItemTitle">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Plugin </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.ItemTitle}} </mat-cell>
              <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
            </ng-container>
          
            <ng-container matColumnDef="CreditsUsed">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Crédito usado </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.CreditsUsed}} </mat-cell>
              <mat-footer-cell *matFooterCellDef>{{ getTotalCredits() }}</mat-footer-cell>
            </ng-container>
        
            <ng-container matColumnDef="UsageDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Data Utilização </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.UsageDate | date:'short'}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
        </mat-table>
        
        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
</div>