#container {
    background-image: url("./../../../assets/gifs/404.gif");
    background-position: center;
    div {
        height: 200px;
        background-color: #42424299;
    }
}

h1 {
    color: white;
}
