<div class="container pt-2">
    <h1 class="m-0 p-0" style="color: white;">{{ router.url.includes('new')? 'Criar' : 'Editar' }} bundle</h1>
    <form [formGroup]="bundleForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="standard" class="w-100">
            <mat-label>Nome</mat-label>
            <input formControlName="nome" matInput />
        </mat-form-field>

        <mat-form-field appearance="standard" class="w-100">
            <mat-chip-list #chipList aria-label="Plugins selection">
              <mat-chip
                *ngFor="let plugin of bundleForm.get('selected_plugins').value"
                [selectable]="false"
                [removable]="true"
                (removed)="remove(plugin)">
                {{ plugin.title }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Adicionar plugin"
                #pluginInput
                formControlName="plugin_name"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                (matChipInputTokenEnd)="add($event)" />
                <mat-error *ngIf="bundleForm.get('selected_plugins').invalid">O bundle deve conter no mínimo dois plugins</mat-error>
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let plugin of filteredPlugins | async" [value]="plugin.title">
                    {{ plugin.title }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <div class="float-right" *ngIf="!isLoading; else loading">
            <button
                mat-raised-button
                type="button" (click)="goBack()">
                Cancelar
            </button>
            <button
                mat-raised-button
                color="primary"
                type="submit"
                class="ml-3"
                [disabled]="bundleForm.invalid">
                    {{ router.url.includes('new')? 'Salvar' : 'Atualizar' }}
            </button>
        </div>
    </form>
</div>

<ng-template #loading>
    <div class="d-flex justify-content-center w-100">
        <custom-load></custom-load>
    </div>
</ng-template>