<div class="container mb-5">
    <mat-form-field appearance="standard" color="primary" class="w-100">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter(filterInput.value)" #filterInput autocomplete="off">
    </mat-form-field>

    
    <div class="mat-elevation-z8 position-relative">
        <div *ngIf="isLoading"
            class="d-flex justify-content-center align-items-center position-absolute w-100 h-100"
            style="background-color: #42424299; z-index: 1;">
            <custom-load></custom-load>
        </div>

        <mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
            <ng-container matColumnDef="CustomerName">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="flex-grow: 2;">Nome</mat-header-cell>
                <mat-cell *matCellDef="let row" style="flex-grow: 2;"> {{row.CustomerName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Credits">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="flex-grow: 2;">Créditos</mat-header-cell>
                <mat-cell *matCellDef="let row" style="flex-grow: 2;"> {{row.Credits}} </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row
                *matRowDef="let row; columns: displayedColumns"></mat-row>
                        <ng-container matColumnDef="Edit">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let row" class="d-flex justify-content-around">
                    <button mat-icon-button>
                        <mat-icon>create</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
        </mat-table>
        <mat-paginator (page) = "pageEvent = OnChange($event)" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
</div>