<div class="container mt-2">
  <h1 class="m-0 p-0">Usuário</h1>
  <form [formGroup]="userForm">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="standard" class="w-100">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" type="text" readonly/>
        </mat-form-field>
      </div>
  
      <div class="col">
        <mat-form-field appearance="standard" class="w-100">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="text" readonly/>
        </mat-form-field>
      </div>
  
      <div class="col">
        <mat-form-field appearance="standard" class="w-100">
          <mat-label>Créditos</mat-label>
          <input 
            id="creditos"
            matInput
            formControlName="creditos"
            type="number"
            [min]="minValueOfCredits"
            step="1"
            (keyup.enter)="onUpdateCredits()"
            (blur)="onUpdateCredits()" />
          <mat-hint align="end">Editável</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="standard" class="w-100">
          <mat-label>Quantidade de Acessos</mat-label>
          <input matInput formControlName="acesso" type="text" readonly/>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="standard" class="w-100">
          <mat-label>Último Acesso</mat-label>
          <input matInput formControlName="lastaccess" type="text" readonly/>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="container mt-2 mb-5">
  <h2 class="m-0 p-0">Plugins</h2>

  <mat-form-field appearance="standard" color="primary" class="w-100">
    <mat-label>Buscar</mat-label>
    <input #filterInput matInput (keyup)="applyFilter(filterInput.value)" autocomplete="off" />
  </mat-form-field>

  <div class="mat-elevation-z8 position-relative">
    <mat-table [dataSource]="dataSource" matSort>
      
      <ng-container matColumnDef="PluginName">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="flex-grow: 2;">Nome</mat-header-cell>
        <mat-cell *matCellDef="let row" style="flex-grow: 2;"> {{row.ItemTitle}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="Edit">
        <mat-header-cell *matHeaderCellDef style="flex-grow: 1;"></mat-header-cell>
        <mat-cell *matCellDef="let row" style="flex-grow: 1;">
          <button mat-icon-button (click)="alterPlugin(row)">
            <mat-icon>create</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="Delete">
        <mat-header-cell *matHeaderCellDef style="flex-grow: 1;"></mat-header-cell>
        <mat-cell *matCellDef="let row" style="flex-grow: 1;">
          <button mat-icon-button (click)="deletePlugin(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>
  
  <div class="buttonFixedScroll position-fixed">
    <button mat-fab color="primary" (click)="addPlugin()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
