<div class="container">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Sign In">
            <mat-card>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="standard" class="w-100">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" type="email" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="standard" class="w-100">
                                <mat-label>Senha</mat-label>
                                <input matInput formControlName="senha" type="password" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button
                                mat-raised-button
                                class="float-right"
                                type="submit" color="primary"
                                [disabled]="loginForm.invalid || loginForm.pristine">
                                Sign In
                            </button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </mat-tab>

        <mat-tab label="Sign Up">
            <mat-card class="mat-elevation-z8">
                <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="standard" class="w-100">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" type="email" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <mat-form-field appearance="standard" class="w-100">
                                <mat-label>Senha</mat-label>
                                <input matInput formControlName="senha" type="password" />
                            </mat-form-field>
                        </div>

                        <div class="col-md">
                            <mat-form-field appearance="standard" class="w-100">
                                <mat-label>Confirmar Senha</mat-label>
                                <input matInput formControlName="confirmaSenha" type="password" />
                                <mat-error *ngIf="signUpForm.hasError('notSame')">As senhas não coincidem.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button
                                mat-raised-button
                                class="float-right"
                                type="submit" color="primary"
                                [disabled]="signUpForm.invalid">
                                Sign Up
                            </button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>
