/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #303030;
}

input {
    color: white !important;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #424242 inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

mat-slide-toggle {
    color: white;
}

button {
    outline: none !important;
}

mat-footer-row {
    font-weight: bold;
}
